body {
  margin: 0;
  font-family: "Dejavu sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Dejavu sans";
  src: url("../assets/fonts/dejavu-sans/DejaVuSans.ttf");
}
